@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url(../../assets/bg.jpg);
  background-position: center;
  background-size: cover;
}

.panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.panel-container {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 50px;
  background: #5382dc;
  /* opacity: 80%; */
}

.panel-container .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-container .header {
  background: #ffffff;
  border-radius: 50px;
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-container .header h2 {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 75px;
}

.panel-container .buttons-container {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.panel-container .buttons-container button {
  width: 200px;
  height: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  border: none;
  outline: none;
}

.panel-container .buttons-container .startButton {
  background: #75ff5f;
}
.panel-container .buttons-container .startButton:active {
  background: #35a325;
}

.panel-container .buttons-container .stopButton {
  background: #ff5f5f;
}
.panel-container .buttons-container .stopButton:active {
  background: #ad3232;
}
